<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoftwareSeekers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/getAdmin.css">
</head>
<body>
<div  class="header">
    <table>
        <tr>
            <td id="td1">
                <img th:src="@{/photos/1.png}" >
            </td>
            <td id="td2"><ul id="navbar">
                <li><a th:href="@{/admin/adminPage}" style="color:#171717; text-decoration:none">ГЛАВНАЯ СТРАНИЦА</a></li>
                <li><a th:href="@{/logout}" style="color:#171717; text-decoration:none">ВЫЙТИ</a></li>
            </ul></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="profile">
        <table class="table">
            <tr><td colspan="2" style="text-align: center;" th:text="${user.getSNP()}"></td></tr>
            <tr>
                <td colspan="2"> <img th:src="@{'/images/'+${user.getImage().getIdImage()}}"  style="margin-top:15px" height="120px" width="200px"/><br><br></td>
            </tr>
            <tr>
                <td colspan="2" th:text="'Дата рождения: '+${user.birthday}"></td>
            </tr>
            <tr>
                <td colspan="2" th:text="'Email: '+${user.email}"></td>
            </tr>
            <tr>
                <td colspan="2" th:text="'Моб.телефон: '+${user.phone}"></td>
            </tr>
            <tr>
                <td colspan="2" th:text="'Информация: '+${user.info}"></td>
            </tr>
        </table>
        <div class="buttons">
            <a th:href="@{/admin/editProfile}">
                <button>
                    Редактирование профиля
                </button>
            </a>
            <a th:href="@{/admin/changePassword}">
                <button>
                    Изменить пароль
                </button>
            </a>
            <a th:href="@{/admin/adminPage}">
                <button>
                    Назад
                </button>
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <p style="margin: 0 0 0 15px">Chementsova Sasha, 2023</p>
</div>
</body>
</html>