#td1{
    min-width: 900px;
    max-width: 900px;
}
#td2{
    min-width: 560px;
    max-width: 560px;
}
.finding, .form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.container{
    min-height: 600px;
    color: #343434;
    display: flex;
    flex-direction: column;
}

h1,h3{
    margin: 0 0 15px 0;
    text-shadow: 3px 2px 2px rgba(225, 253, 91,0.9);
}
tr{
    margin: 3px 0 3px 0;
}

button{
    font-family: "Tahoma";
    margin: 5px 10px 5px 10px;
    width: 160px;
    height: 42px;
    border-radius:36px;
    background-color:rgb(84,84,84);
    border:1px solid rgba(225, 253, 91,0.9);
    color: white;
}
button:hover{
    box-shadow:0 0 20px rgba(225, 253, 91,0.9);
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    min-height: 460px;
    min-width:600px;
    border-radius:36px;
    border:1px solid rgba(225, 253, 91,0.9);
    background-color: #d7d7d7;
    padding: 10px 0 10px 0;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

